
.main-doc-div {
    background-color: rgb(233, 233, 233);
    position: relative;
    height: 17rem;
  }
  
  .doc-container {
    color: rgb(54, 54, 54);
    box-sizing: border-box;
    min-width: 0px;
    padding: 32px;
    margin-left: 64px;
    margin-right: 0px;
    margin-top: 128px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: inherit;
    top: -30px;
    width: 648px;
  }
  
  .doc-container span {
    width: fit-content;
  }
  
  .check-icon {
    color: rgb(58, 183, 87);
  }
  